@model List<ResultCategoryDto>

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" >
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <td>#</td>
            <td>Kategori Adı</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </table>
</div>